   :root {
       --color1: #f5f0e7;
       --color2: #26352b;
       --color3: inherit;
       --color4: #d8d0c2;
       --color5: #59645c;
       --color6: white;
       --color7: #e7dfd1;
       /* --color8: #59645c; */
       --color9: #cfc6b7;
       --color10: #858b82;
       --color11: #687167;
       --color12: #687269;
       --color13: #aeb7af;
       --color14: #cbd1cb;
       --color15: #d8cdbb;
       --color16: #566056;
       --color17: #d5d0c7;
       --color18: #faf8f3;
       --color19: #18221c;
       --color20: #b9c1ba;
       --color21: #465047;
       --color22: #89938b;
   }

   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;

   }

   html {
       scroll-behavior: smooth;
   }

   body {
       font-family: Arial, sans-serif;
       background: var(--color1);
       color: var(--color2);
   }

   img {
       width: 100%;
       display: block;
       object-fit: cover;
   }

   a {
       text-decoration: none;
       color: var(--color3);
   }

   nav {
       height: 78px;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 0 7%;
       background: var(--color1);
       border-bottom: 1px solid var(--color4);
       position: relative;
       z-index: 10;
   }

   .logo {
       font-family: Georgia, serif;
       font-size: 25px;
       letter-spacing: 2px;
   }

   nav ul {
       display: flex;
       gap: 30px;
       list-style: none;
   }

   nav ul a {
       font-size: 13px;
       transition: 0.3s;
   }

   nav ul a:hover {
       opacity: 0.55;
   }

   .book-btn {
       padding: 11px 21px;
       background: #26352b;
       color: white;
       font-size: 12px;
   }

   .small {
       font-size: 11px;
       letter-spacing: 3px;

   }

   .hero {
       min-height: 650px;
       padding: 70px 5%;
       display: flex;
       align-items: center;
       gap: 60px;
   }

   .left {
       /* min-height: 650px; */
       /* padding: 70px 7%; */
       align-items: center;
       /* gap: 60px; */
   }

   /* 
   .hero {
       width: 42%;
   } */

   .hero h1 {

       font-family: Georgia, serif;
       font-size: clamp(50px, 6vw, 78px);
       line-height: 1.03;
       font-weight: normal;
       margin: 20px 0 25px;
   }

   .hero p {
       max-width: 470px;
       color: var(--color5);
       line-height: 1.8;
       margin-bottom: 30px;
   }

   .discover {
       display: inline-block;
       padding: 14px 28px;
       background: var(--color2);
       color: var(--color6);
       font-size: 13px;
   }

   .hero-image {
       width: 100%;
       height: 570px;
   }

   .hero-image img {
       height: 100%;
   }

   #story {
       background-color: var(--color7);
   }

   .story {
       width: 100%;
   }

   .right h2 {
       font-family: Georgia, serif;
       font-size: 52px;
       line-height: 1.05;
       font-weight: normal;
       margin: 18px 0 25px;
   }

   .p1 {
       color: var(--color5);
       line-height: 1.9;
       margin-bottom: 18px;
   }

   .btn {
       /* width: 90%; */
       height: 530px;
   }

   .btn img {
       height: 86%;
   }

   .story-link {
       display: inline-block;
       margin-top: 10px;
       border-bottom: 1px solid var(--color2);
       padding-bottom: 5px;
       font-size: 13px;
   }

   .image-strip {
       height: 360px;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       gap: 20px;
       margin: 4% 6%;


   }

   .image-strip img {
       width: 100%;
       height: 100%;
       object-fit: contain;
       box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);


   }

   .experience {
       padding: 110px 7%;
   }

   .experience h2 {
       font-family: Georgia, serif;
       font-size: 52px;
       font-weight: normal;
       margin: 18px 0 55px;
   }

   .grid-btn {
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       border-top: 1px solid var(--color9);
   }

   .first {
       padding: 35px 25px;
       border-right: 1px solid var(--color9);
   }

   .first:last-child {
       border-right: none;
   }

   .number {
       font-size: 12px;
       color: #858b82;
   }

   .first h3 {
       font-family: Georgia, serif;
       font-size: 23px;
       font-weight: normal;
       margin: 25px 0 15px;
   }

   .first p {
       color: var(--color11);
       line-height: 1.7;
       font-size: 14px;
   }

   .rooms {
       padding: 110px 7%;
       background: var(--color2);
       color: var(--color6);
   }





   .rooms h1 {
       font-family: Georgia, serif;
       font-size: 52px;
       font-weight: normal;
       margin: 18px 0 55px;
   }

   .con {
       display: grid;
       grid-template-columns: 42% 58%;
       min-height: 390px;
       border-top: 1px solid var(--color12);
       padding: 30px 0;
       gap: 55px;
   }

   .left1 {
       height: 330px;
   }

   .left1 img {
       height: 100%;
       border: 1px solid var(--color12);
   }

   .right1 .number {
       font-size: 13px;
       letter-spacing: 3px;
       color: var(--color13);
       margin-bottom: 20px;
   }

   .right1 h3 {
       font-family: Georgia, serif;
       font-size: 38px;
       font-weight: normal;
       margin-bottom: 18px;
   }

   .right1 p {
       max-width: 520px;
       color: var(--color14);
       line-height: 1.8;
   }

   .price {
       margin: 25px 0;
   }

   .room-btn {
       display: inline-block;
       width: fit-content;
       border: 1px solid var(--color13);
       padding: 12px 22px;
       font-size: 12px;
   }

   .line {
       padding: 130px 7%;
       text-align: center;
   }

   .line h2 {
       max-width: 950px;
       margin: auto;
       font-family: Georgia, serif;
       font-size: clamp(38px, 5vw, 65px);
       line-height: 1.15;
       font-weight: normal;
   }

   .gallery2 {
       padding: 0 13% 9px;
   }

   .gallery h2 {
       font-family: Georgia, serif;
       font-size: 52px;
       font-weight: normal;
       margin: 18px -9px 45px;
   }

   .gallery-img {
       display: grid;
       grid-template-columns: 1.4fr 1fr 1fr;
       grid-template-rows: 230px 230px;
       gap: 12px;
       padding: 0px 3% 0px;
       margin: 0px 7% 10% -7%;
   }

   .gallery-img img {
       height: 100%;
   }

   .large {
       grid-row: span 2;

       object-fit: contain;
       margin-left: 124px;
       /* width: 100%; */
       /* box-sizing: border-box; */
   }

   .goa {
       padding: 130px 7%;
       background: var(--color15);
       text-align: center;
   }

   .goa h2 {
       font-family: Georgia, serif;
       font-size: clamp(45px, 6vw, 72px);
       font-weight: normal;
       margin: 20px 0;
   }

   .goa p {
       max-width: 620px;
       margin: auto;
       color: var(--color16);
       line-height: 1.9;
   }

   .booking {
       padding: 100px 7%;
   }

   .booking h2 {
       font-family: Georgia, serif;
       font-size: 48px;
       font-weight: normal;
       margin: 15px 0 40px;
   }

   .booking1 {
       background: var(--color6);
       padding: 45px;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr auto;
       gap: 15px;
       align-items: end;
       box-shadow: 0 15px 35px rgba(0, 0, 0, 0.06);
   }

   .booking-btn label {
       display: block;
       font-size: 10px;
       letter-spacing: 2px;
       text-transform: uppercase;
       margin-bottom: 9px;
   }

   .booking-btn input,
   .booking-btn select {
       width: 100%;
       padding: 13px;
       border: 1px solid var(--color17);
       background: var(--color18);
   }

   .booking-submit {
       padding: 14px 23px;
       background: var(--color2);
       color: var(--color6);
       border: none;
       cursor: pointer;
   }

   footer {
       padding: 65px 7% 30px;
       background: var(--color19);
       color: var(--color6);
   }

   .footer-top {
       display: flex;
       justify-content: space-between;
       padding-bottom: 55px;
   }

   .footer-logo {
       font-family: Georgia, serif;
       font-size: 28px;
   }

   .footer-top p {
       color: var(--color20);
       margin-top: 12px;
   }

   .footer-bottom {
       border-top: 1px solid var(--color21);
       padding-top: 25px;
       color: var(--color22);
       font-size: 12px;
   }

   @media (max-width: 1475px) {
       .large {
           margin: 0px;
       }
   }

   @media (max-width: 1150px) {
       .image-strip {
           width: 95%;
           margin: 0px 20px;
       }
   }

   @media (max-width: 800px) {

       nav {
           padding: 0 5%;
       }

       nav ul {
           display: none;
       }

       .hero {
           flex-direction: column;
           padding: 60px 5%;
           gap: 45px;
       }

       .left,
       .hero-image {
           width: 100%;
       }

       .hero h1 {
           font-size: 50px;
       }

       .hero-image {
           height: 420px;
       }

       .story {
           grid-template-columns: 1fr;
           padding: 80px 5%;
           gap: 45px;
       }

       .story-image {
           height: 420px;
       }

       .image-strip {
           height: 250px;
       }

       .experience {
           padding: 80px 5%;
       }

       .grid-btn {
           grid-template-columns: 1fr 1fr;
       }

       .first {
           border-bottom: 1px solid var(--color9);
       }

       .first:last-child {
           border-right: 1px solid var(--color9);
       }

       .con {
           display: grid;
           grid-template-columns: 1fr;
           gap: 30px;
       }

       /* .con .left1 {
           height: 300px;
       } */
       .rooms {
           padding: 80px 5%;
       }

       .gallery {
           padding: 0 5% 80px;
       }

       .gallery-img {
           grid-template-columns: 1fr 1fr;
           grid-template-rows: 220px 220px 220px;
           margin: 0;
       }

       .large {
           margin-left: 0;
       }

       .booking {
           padding: 80px 5%;
       }

       .booking1 {
           grid-template-columns: 1fr;
           padding: 30px;
       }



   }

   @media (max-width: 750px) {
       .image-strip {
           display: flex;

           width: 500px;
           overflow-x: auto;
           overflow-Y: hidden;
           margin: 4% 6%;
           width: 91%;

       }
   }

   @media (max-width: 800px) {
       .footer-top {
           flex-direction: column;
           gap: 35px;
       }

       .gallery-img {
           display: flex;
           gap: 20px;
           overflow-x: auto;
           overflow-y: hidden;
           padding: 10px 2px;
       }

       .gallery-img img {
           flex: 0 0 300px;
           width: 300px;
           height: 360px;
           object-fit: cover;
       }
   }

   @media (max-width: 910px) {
       .gallery-img {
           margin: 0px;
       }
   }

   @media (max-width:3000px) {
       .story {
           width: 100%;
       }

       /* .hero {
           min-height: 650px;

           padding: 70px 10%;
           display: flex;
           align-items: center;
           gap: 60px;
       } */
   }